In [0]:
print("Hello World")

Hello World

In [0]:
for i in range(2000, 3201):
  if(not i%7 and i%5):
    print(i, end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [0]:
fname = input("enter your first name")
lname = input("enter your last name")
print(lname + " "+ fname)

enter your first nameabhi
enter your last namekumar
kumar abhi

In [0]:
pi = 3.14
r = 6.0
v = 4.0/3.0*pi*r**3
print("The volume of sphere is :", v)

The volume of sphere is : 904.3199999999999

In [0]:
values = input("Input some comma saprated numbers:")
list = values.split(",")
tuple = tuple(list)
print('List:',list)
print('Tuple :',tuple)

Input some comma saprated numbers:1,2,34,5
List: ['1', '2', '34', '5']
Tuple : ('1', '2', '34', '5')

In [0]:
rows = int(input("Enter max star to be display on single line "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

Enter max star to be display on single line 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [0]:
r = (input("enter the string "))
print(r[::-1])

enter the string abhishek
kehsihba

In [2]:
input_sentence = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
print ("input_sentence : " + input_sentence)

print ("\n\n")

formatted_sentence = input_sentence.replace("INDIA, ", "INDIA,\n").replace("SOVEREIGN, ", "SOVEREIGN, !\n").replace("REPUBLIC ", "REPUBLIC \n") + (":")
print ("Formatted sentence : " + formatted_sentence)

input_sentence : WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens



Formatted sentence : WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens: